body{
	background: #f7e300;
	font-family:arial;
}
h1{
	text-align: center;
}

#set{
	padding-top: 30px;
}

table#tablesTests{
text-align: center;
margin: auto;
padding: 20px;
width: 50%;
}

#data{
border: solid bisque;
background: cornsilk;
}

#newInputs input{
margin: 10px;	
}

#newRowForm{
background: cornsilk;
}